<div id='content'>
  <nav class='top-bar'>
    <section class='top-bar-section'>
      <ul class='left'>
        <li><a class='button' href="/">Home</a></li>
        {{#if data.loggedIn}}
          <li><a class='button' id='logout'>Logout</a></li>
          <li id='name'>Welcome, <span>{{data.name}}</span></li>
        {{else}}
          <li><a class='button' id='login' href='/auth/facebook'>Login with Facebook</a></li>
          <li id='name'>Log in to start playing!</li>
        {{/if}}
      </ul>
    </section>  
  </nav>
  {{#if data.single}}
    <p>Good job! Your score was {{data.score}}</p>
  {{else}}
    <p>You {{data.won}}!</p>
    <p>Your score was {{data.score}}</p>
    <p>Your opponent's score was {{data.oppScore}}</p>
  {{/if}}
  <p>You correctly hit {{data.ratio}} of your notes</p>
</div>